//中文
@font-face {
  font-family: custom-Black;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Black.otf) format("opentype");
  unicode-range: U+4E00-9FFF;
}
//英文
@font-face {
  font-family: custom-Black;
  src: url(../fonts/Roboto/Roboto-Black.ttf) format("truetype");
  unicode-range: U+00-024F;
}

//中文
@font-face {
  font-family: custom-BoldItalic;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf) format("opentype");
  unicode-range: U+4E00-9FFF;
}
//英文
@font-face {
  font-family: custom-BoldItalic;
  src: url(../fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
  unicode-range: U+00-024F;
}

//中文
@font-face {
  font-family: custom-Medium;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf) format("opentype");
  unicode-range: U+4E00-9FFF;
}
//英文
@font-face {
  font-family: custom-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  unicode-range: U+00-024F;
}
//中文
@font-face {
  font-family: custom-Regular;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf) format("opentype");
  unicode-range: U+4E00-9FFF;
}
//英文
@font-face {
  font-family: custom-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  unicode-range: U+00-024F;
}
//中文
@font-face {
  font-family: custom-Bold;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf) format("opentype");
  unicode-range: U+4E00-9FFF;
}
//英文
@font-face {
  font-family: custom-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  unicode-range: U+00-024F;
}
