.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 88px;
   background-color: map-get($bg-color, primary);

   &-logo {
      overflow: hidden;
      width: 80px;
      height: 48.57px;
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png)
      no-repeat;
      text-indent: 101%;
      white-space: nowrap;
   }

   &-links {
      display: flex;

      &__link {
         &-content {
            color: map-get($text-color, primary);
            font-size: 20px;
            font-family: 'custom-Regular';
            line-height: 30px;
         }
      }
   }
}

@media screen and (max-width: 1110px) {
   .nav {
      padding: 30px 39px;
   }
}

@media screen and (max-width: 768px) {
   .nav {
      flex-direction: column;
      padding: 0;

      &-logo {
         // width: 100%;
         width: 48px;
         height: 29px;
         background-size: cover;
         line-height: 29px;
      }

      &-links {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         width: 100%;

         &__link {
            display: flex;
            justify-content: center;
            width: 50%;
            border: 1px solid map-get($bd-color, primary);
         }
      }
   }
}
