@import 'utils/variables.scss';

@import 'base/reset.scss';

@import 'base/utils.scss';

@import 'base/font.scss';

@import 'utils/utils.scss';

@import 'layout/nav.scss';

@import 'layout/footer.scss';

@import 'page/functional.scss';

@import 'page/faq.scss';

.test {
   font-family: 'custom-Medium';
}

.test1 {
   font-family: 'custom-Black';
}

.test2 {
   font-family: 'custom-BoldItalic';
}

.test3 {
   font-family: 'custom-Regular';
}

.test4 {
   font-family: 'custom-Bold';
}
