@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* rwd */
img {
  display: block;
  max-width: 100%;
  height: auto; }

/* 全域 border box */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.wrap {
  min-width: 1110px; }

@font-face {
  font-family: custom-Black;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Black.otf) format("opentype");
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: custom-Black;
  src: url(../fonts/Roboto/Roboto-Black.ttf) format("truetype");
  unicode-range: U+00-024F; }

@font-face {
  font-family: custom-BoldItalic;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf) format("opentype");
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: custom-BoldItalic;
  src: url(../fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
  unicode-range: U+00-024F; }

@font-face {
  font-family: custom-Medium;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf) format("opentype");
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: custom-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  unicode-range: U+00-024F; }

@font-face {
  font-family: custom-Regular;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf) format("opentype");
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: custom-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  unicode-range: U+00-024F; }

@font-face {
  font-family: custom-Bold;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf) format("opentype");
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: custom-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  unicode-range: U+00-024F; }

.mt-0 {
  margin-top: 0px; }

.mt-1 {
  margin-top: 8px; }

.mt-2 {
  margin-top: 16px; }

.mt-3 {
  margin-top: 24px; }

.mt-4 {
  margin-top: 32px; }

.mt-5 {
  margin-top: 40px; }

.mt-6 {
  margin-top: 48px; }

.mt-7 {
  margin-top: 56px; }

.mt-8 {
  margin-top: 64px; }

.mt-9 {
  margin-top: 72px; }

.mt-10 {
  margin-top: 80px; }

.mt-11 {
  margin-top: 88px; }

.mt-12 {
  margin-top: 96px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7 {
  margin-bottom: 56px; }

.mb-8 {
  margin-bottom: 64px; }

.mb-9 {
  margin-bottom: 72px; }

.mb-10 {
  margin-bottom: 80px; }

.mb-11 {
  margin-bottom: 88px; }

.mb-12 {
  margin-bottom: 96px; }

.ml-0 {
  margin-left: 0px; }

.ml-1 {
  margin-left: 8px; }

.ml-2 {
  margin-left: 16px; }

.ml-3 {
  margin-left: 24px; }

.ml-4 {
  margin-left: 32px; }

.ml-5 {
  margin-left: 40px; }

.ml-6 {
  margin-left: 48px; }

.ml-7 {
  margin-left: 56px; }

.ml-8 {
  margin-left: 64px; }

.ml-9 {
  margin-left: 72px; }

.ml-10 {
  margin-left: 80px; }

.ml-11 {
  margin-left: 88px; }

.ml-12 {
  margin-left: 96px; }

.mr-0 {
  margin-right: 0px; }

.mr-1 {
  margin-right: 8px; }

.mr-2 {
  margin-right: 16px; }

.mr-3 {
  margin-right: 24px; }

.mr-4 {
  margin-right: 32px; }

.mr-5 {
  margin-right: 40px; }

.mr-6 {
  margin-right: 48px; }

.mr-7 {
  margin-right: 56px; }

.mr-8 {
  margin-right: 64px; }

.mr-9 {
  margin-right: 72px; }

.mr-10 {
  margin-right: 80px; }

.mr-11 {
  margin-right: 88px; }

.mr-12 {
  margin-right: 96px; }

.pt-0 {
  padding-top: 0px; }

.pt-1 {
  padding-top: 8px; }

.pt-2 {
  padding-top: 16px; }

.pt-3 {
  padding-top: 24px; }

.pt-4 {
  padding-top: 32px; }

.pt-5 {
  padding-top: 40px; }

.pt-6 {
  padding-top: 48px; }

.pt-7 {
  padding-top: 56px; }

.pt-8 {
  padding-top: 64px; }

.pt-9 {
  padding-top: 72px; }

.pt-10 {
  padding-top: 80px; }

.pt-11 {
  padding-top: 88px; }

.pt-12 {
  padding-top: 96px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-1 {
  padding-bottom: 8px; }

.pb-2 {
  padding-bottom: 16px; }

.pb-3 {
  padding-bottom: 24px; }

.pb-4 {
  padding-bottom: 32px; }

.pb-5 {
  padding-bottom: 40px; }

.pb-6 {
  padding-bottom: 48px; }

.pb-7 {
  padding-bottom: 56px; }

.pb-8 {
  padding-bottom: 64px; }

.pb-9 {
  padding-bottom: 72px; }

.pb-10 {
  padding-bottom: 80px; }

.pb-11 {
  padding-bottom: 88px; }

.pb-12 {
  padding-bottom: 96px; }

.pl-0 {
  padding-left: 0px; }

.pl-1 {
  padding-left: 8px; }

.pl-2 {
  padding-left: 16px; }

.pl-3 {
  padding-left: 24px; }

.pl-4 {
  padding-left: 32px; }

.pl-5 {
  padding-left: 40px; }

.pl-6 {
  padding-left: 48px; }

.pl-7 {
  padding-left: 56px; }

.pl-8 {
  padding-left: 64px; }

.pl-9 {
  padding-left: 72px; }

.pl-10 {
  padding-left: 80px; }

.pl-11 {
  padding-left: 88px; }

.pl-12 {
  padding-left: 96px; }

.pr-0 {
  padding-right: 0px; }

.pr-1 {
  padding-right: 8px; }

.pr-2 {
  padding-right: 16px; }

.pr-3 {
  padding-right: 24px; }

.pr-4 {
  padding-right: 32px; }

.pr-5 {
  padding-right: 40px; }

.pr-6 {
  padding-right: 48px; }

.pr-7 {
  padding-right: 56px; }

.pr-8 {
  padding-right: 64px; }

.pr-9 {
  padding-right: 72px; }

.pr-10 {
  padding-right: 80px; }

.pr-11 {
  padding-right: 88px; }

.pr-12 {
  padding-right: 96px; }

.lh-0 {
  line-height: 0px; }

.lh-1 {
  line-height: 8px; }

.lh-2 {
  line-height: 16px; }

.lh-3 {
  line-height: 24px; }

.lh-4 {
  line-height: 32px; }

.lh-5 {
  line-height: 40px; }

.lh-6 {
  line-height: 48px; }

.lh-7 {
  line-height: 56px; }

.lh-8 {
  line-height: 64px; }

.lh-9 {
  line-height: 72px; }

.lh-10 {
  line-height: 80px; }

.lh-11 {
  line-height: 88px; }

.lh-12 {
  line-height: 96px; }

.fz-0 {
  font-size: 0px; }

.fz-1 {
  font-size: 8px; }

.fz-2 {
  font-size: 16px; }

.fz-3 {
  font-size: 24px; }

.fz-4 {
  font-size: 32px; }

.fz-5 {
  font-size: 40px; }

.fz-6 {
  font-size: 48px; }

.fz-7 {
  font-size: 56px; }

.fz-8 {
  font-size: 64px; }

.fz-9 {
  font-size: 72px; }

.fz-10 {
  font-size: 80px; }

.fz-11 {
  font-size: 88px; }

.fz-12 {
  font-size: 96px; }

.container {
  margin: 0 auto;
  max-width: 1110px; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .mt-md-0 {
    margin-top: 0px; }
  .mt-md-1 {
    margin-top: 4px; }
  .mt-md-2 {
    margin-top: 8px; }
  .mt-md-3 {
    margin-top: 12px; }
  .mt-md-4 {
    margin-top: 16px; }
  .mt-md-5 {
    margin-top: 20px; }
  .mt-md-6 {
    margin-top: 24px; }
  .mt-md-7 {
    margin-top: 28px; }
  .mt-md-8 {
    margin-top: 32px; }
  .mt-md-9 {
    margin-top: 36px; }
  .mt-md-10 {
    margin-top: 40px; }
  .mt-md-11 {
    margin-top: 44px; }
  .mt-md-12 {
    margin-top: 48px; }
  .mb-md-0 {
    margin-bottom: 0px; }
  .mb-md-1 {
    margin-bottom: 4px; }
  .mb-md-2 {
    margin-bottom: 8px; }
  .mb-md-3 {
    margin-bottom: 12px; }
  .mb-md-4 {
    margin-bottom: 16px; }
  .mb-md-5 {
    margin-bottom: 20px; }
  .mb-md-6 {
    margin-bottom: 24px; }
  .mb-md-7 {
    margin-bottom: 28px; }
  .mb-md-8 {
    margin-bottom: 32px; }
  .mb-md-9 {
    margin-bottom: 36px; }
  .mb-md-10 {
    margin-bottom: 40px; }
  .mb-md-11 {
    margin-bottom: 44px; }
  .mb-md-12 {
    margin-bottom: 48px; }
  .ml-md-0 {
    margin-left: 0px; }
  .ml-md-1 {
    margin-left: 4px; }
  .ml-md-2 {
    margin-left: 8px; }
  .ml-md-3 {
    margin-left: 12px; }
  .ml-md-4 {
    margin-left: 16px; }
  .ml-md-5 {
    margin-left: 20px; }
  .ml-md-6 {
    margin-left: 24px; }
  .ml-md-7 {
    margin-left: 28px; }
  .ml-md-8 {
    margin-left: 32px; }
  .ml-md-9 {
    margin-left: 36px; }
  .ml-md-10 {
    margin-left: 40px; }
  .ml-md-11 {
    margin-left: 44px; }
  .ml-md-12 {
    margin-left: 48px; }
  .mr-md-0 {
    margin-right: 0px; }
  .mr-md-1 {
    margin-right: 4px; }
  .mr-md-2 {
    margin-right: 8px; }
  .mr-md-3 {
    margin-right: 12px; }
  .mr-md-4 {
    margin-right: 16px; }
  .mr-md-5 {
    margin-right: 20px; }
  .mr-md-6 {
    margin-right: 24px; }
  .mr-md-7 {
    margin-right: 28px; }
  .mr-md-8 {
    margin-right: 32px; }
  .mr-md-9 {
    margin-right: 36px; }
  .mr-md-10 {
    margin-right: 40px; }
  .mr-md-11 {
    margin-right: 44px; }
  .mr-md-12 {
    margin-right: 48px; }
  .pt-md-0 {
    padding-top: 0px; }
  .pt-md-1 {
    padding-top: 4px; }
  .pt-md-2 {
    padding-top: 8px; }
  .pt-md-3 {
    padding-top: 12px; }
  .pt-md-4 {
    padding-top: 16px; }
  .pt-md-5 {
    padding-top: 20px; }
  .pt-md-6 {
    padding-top: 24px; }
  .pt-md-7 {
    padding-top: 28px; }
  .pt-md-8 {
    padding-top: 32px; }
  .pt-md-9 {
    padding-top: 36px; }
  .pt-md-10 {
    padding-top: 40px; }
  .pt-md-11 {
    padding-top: 44px; }
  .pt-md-12 {
    padding-top: 48px; }
  .pb-md-0 {
    padding-bottom: 0px; }
  .pb-md-1 {
    padding-bottom: 4px; }
  .pb-md-2 {
    padding-bottom: 8px; }
  .pb-md-3 {
    padding-bottom: 12px; }
  .pb-md-4 {
    padding-bottom: 16px; }
  .pb-md-5 {
    padding-bottom: 20px; }
  .pb-md-6 {
    padding-bottom: 24px; }
  .pb-md-7 {
    padding-bottom: 28px; }
  .pb-md-8 {
    padding-bottom: 32px; }
  .pb-md-9 {
    padding-bottom: 36px; }
  .pb-md-10 {
    padding-bottom: 40px; }
  .pb-md-11 {
    padding-bottom: 44px; }
  .pb-md-12 {
    padding-bottom: 48px; }
  .pl-md-0 {
    padding-left: 0px; }
  .pl-md-1 {
    padding-left: 4px; }
  .pl-md-2 {
    padding-left: 8px; }
  .pl-md-3 {
    padding-left: 12px; }
  .pl-md-4 {
    padding-left: 16px; }
  .pl-md-5 {
    padding-left: 20px; }
  .pl-md-6 {
    padding-left: 24px; }
  .pl-md-7 {
    padding-left: 28px; }
  .pl-md-8 {
    padding-left: 32px; }
  .pl-md-9 {
    padding-left: 36px; }
  .pl-md-10 {
    padding-left: 40px; }
  .pl-md-11 {
    padding-left: 44px; }
  .pl-md-12 {
    padding-left: 48px; }
  .pr-md-0 {
    padding-right: 0px; }
  .pr-md-1 {
    padding-right: 4px; }
  .pr-md-2 {
    padding-right: 8px; }
  .pr-md-3 {
    padding-right: 12px; }
  .pr-md-4 {
    padding-right: 16px; }
  .pr-md-5 {
    padding-right: 20px; }
  .pr-md-6 {
    padding-right: 24px; }
  .pr-md-7 {
    padding-right: 28px; }
  .pr-md-8 {
    padding-right: 32px; }
  .pr-md-9 {
    padding-right: 36px; }
  .pr-md-10 {
    padding-right: 40px; }
  .pr-md-11 {
    padding-right: 44px; }
  .pr-md-12 {
    padding-right: 48px; }
  .lh-md-0 {
    line-height: 0px; }
  .lh-md-1 {
    line-height: 4px; }
  .lh-md-2 {
    line-height: 8px; }
  .lh-md-3 {
    line-height: 12px; }
  .lh-md-4 {
    line-height: 16px; }
  .lh-md-5 {
    line-height: 20px; }
  .lh-md-6 {
    line-height: 24px; }
  .lh-md-7 {
    line-height: 28px; }
  .lh-md-8 {
    line-height: 32px; }
  .lh-md-9 {
    line-height: 36px; }
  .lh-md-10 {
    line-height: 40px; }
  .lh-md-11 {
    line-height: 44px; }
  .lh-md-12 {
    line-height: 48px; }
  .fz-md-0 {
    font-size: 0px; }
  .fz-md-1 {
    font-size: 4px; }
  .fz-md-2 {
    font-size: 8px; }
  .fz-md-3 {
    font-size: 12px; }
  .fz-md-4 {
    font-size: 16px; }
  .fz-md-5 {
    font-size: 20px; }
  .fz-md-6 {
    font-size: 24px; }
  .fz-md-7 {
    font-size: 28px; }
  .fz-md-8 {
    font-size: 32px; }
  .fz-md-9 {
    font-size: 36px; }
  .fz-md-10 {
    font-size: 40px; }
  .fz-md-11 {
    font-size: 44px; }
  .fz-md-12 {
    font-size: 48px; } }

@media (max-width: 376px) {
  .container {
    max-width: 345px; }
  .mt-sm-0 {
    margin-top: 0px; }
  .mt-sm-1 {
    margin-top: 2px; }
  .mt-sm-2 {
    margin-top: 4px; }
  .mt-sm-3 {
    margin-top: 6px; }
  .mt-sm-4 {
    margin-top: 8px; }
  .mt-sm-5 {
    margin-top: 10px; }
  .mt-sm-6 {
    margin-top: 12px; }
  .mt-sm-7 {
    margin-top: 14px; }
  .mt-sm-8 {
    margin-top: 16px; }
  .mt-sm-9 {
    margin-top: 18px; }
  .mt-sm-10 {
    margin-top: 20px; }
  .mt-sm-11 {
    margin-top: 22px; }
  .mt-sm-12 {
    margin-top: 24px; }
  .mb-sm-0 {
    margin-bottom: 0px; }
  .mb-sm-1 {
    margin-bottom: 2px; }
  .mb-sm-2 {
    margin-bottom: 4px; }
  .mb-sm-3 {
    margin-bottom: 6px; }
  .mb-sm-4 {
    margin-bottom: 8px; }
  .mb-sm-5 {
    margin-bottom: 10px; }
  .mb-sm-6 {
    margin-bottom: 12px; }
  .mb-sm-7 {
    margin-bottom: 14px; }
  .mb-sm-8 {
    margin-bottom: 16px; }
  .mb-sm-9 {
    margin-bottom: 18px; }
  .mb-sm-10 {
    margin-bottom: 20px; }
  .mb-sm-11 {
    margin-bottom: 22px; }
  .mb-sm-12 {
    margin-bottom: 24px; }
  .ml-sm-0 {
    margin-left: 0px; }
  .ml-sm-1 {
    margin-left: 2px; }
  .ml-sm-2 {
    margin-left: 4px; }
  .ml-sm-3 {
    margin-left: 6px; }
  .ml-sm-4 {
    margin-left: 8px; }
  .ml-sm-5 {
    margin-left: 10px; }
  .ml-sm-6 {
    margin-left: 12px; }
  .ml-sm-7 {
    margin-left: 14px; }
  .ml-sm-8 {
    margin-left: 16px; }
  .ml-sm-9 {
    margin-left: 18px; }
  .ml-sm-10 {
    margin-left: 20px; }
  .ml-sm-11 {
    margin-left: 22px; }
  .ml-sm-12 {
    margin-left: 24px; }
  .mr-sm-0 {
    margin-right: 0px; }
  .mr-sm-1 {
    margin-right: 2px; }
  .mr-sm-2 {
    margin-right: 4px; }
  .mr-sm-3 {
    margin-right: 6px; }
  .mr-sm-4 {
    margin-right: 8px; }
  .mr-sm-5 {
    margin-right: 10px; }
  .mr-sm-6 {
    margin-right: 12px; }
  .mr-sm-7 {
    margin-right: 14px; }
  .mr-sm-8 {
    margin-right: 16px; }
  .mr-sm-9 {
    margin-right: 18px; }
  .mr-sm-10 {
    margin-right: 20px; }
  .mr-sm-11 {
    margin-right: 22px; }
  .mr-sm-12 {
    margin-right: 24px; }
  .pt-sm-0 {
    padding-top: 0px; }
  .pt-sm-1 {
    padding-top: 2px; }
  .pt-sm-2 {
    padding-top: 4px; }
  .pt-sm-3 {
    padding-top: 6px; }
  .pt-sm-4 {
    padding-top: 8px; }
  .pt-sm-5 {
    padding-top: 10px; }
  .pt-sm-6 {
    padding-top: 12px; }
  .pt-sm-7 {
    padding-top: 14px; }
  .pt-sm-8 {
    padding-top: 16px; }
  .pt-sm-9 {
    padding-top: 18px; }
  .pt-sm-10 {
    padding-top: 20px; }
  .pt-sm-11 {
    padding-top: 22px; }
  .pt-sm-12 {
    padding-top: 24px; }
  .pb-sm-0 {
    padding-bottom: 0px; }
  .pb-sm-1 {
    padding-bottom: 2px; }
  .pb-sm-2 {
    padding-bottom: 4px; }
  .pb-sm-3 {
    padding-bottom: 6px; }
  .pb-sm-4 {
    padding-bottom: 8px; }
  .pb-sm-5 {
    padding-bottom: 10px; }
  .pb-sm-6 {
    padding-bottom: 12px; }
  .pb-sm-7 {
    padding-bottom: 14px; }
  .pb-sm-8 {
    padding-bottom: 16px; }
  .pb-sm-9 {
    padding-bottom: 18px; }
  .pb-sm-10 {
    padding-bottom: 20px; }
  .pb-sm-11 {
    padding-bottom: 22px; }
  .pb-sm-12 {
    padding-bottom: 24px; }
  .pl-sm-0 {
    padding-left: 0px; }
  .pl-sm-1 {
    padding-left: 2px; }
  .pl-sm-2 {
    padding-left: 4px; }
  .pl-sm-3 {
    padding-left: 6px; }
  .pl-sm-4 {
    padding-left: 8px; }
  .pl-sm-5 {
    padding-left: 10px; }
  .pl-sm-6 {
    padding-left: 12px; }
  .pl-sm-7 {
    padding-left: 14px; }
  .pl-sm-8 {
    padding-left: 16px; }
  .pl-sm-9 {
    padding-left: 18px; }
  .pl-sm-10 {
    padding-left: 20px; }
  .pl-sm-11 {
    padding-left: 22px; }
  .pl-sm-12 {
    padding-left: 24px; }
  .pr-sm-0 {
    padding-right: 0px; }
  .pr-sm-1 {
    padding-right: 2px; }
  .pr-sm-2 {
    padding-right: 4px; }
  .pr-sm-3 {
    padding-right: 6px; }
  .pr-sm-4 {
    padding-right: 8px; }
  .pr-sm-5 {
    padding-right: 10px; }
  .pr-sm-6 {
    padding-right: 12px; }
  .pr-sm-7 {
    padding-right: 14px; }
  .pr-sm-8 {
    padding-right: 16px; }
  .pr-sm-9 {
    padding-right: 18px; }
  .pr-sm-10 {
    padding-right: 20px; }
  .pr-sm-11 {
    padding-right: 22px; }
  .pr-sm-12 {
    padding-right: 24px; }
  .lh-sm-0 {
    line-height: 0px; }
  .lh-sm-1 {
    line-height: 2px; }
  .lh-sm-2 {
    line-height: 4px; }
  .lh-sm-3 {
    line-height: 6px; }
  .lh-sm-4 {
    line-height: 8px; }
  .lh-sm-5 {
    line-height: 10px; }
  .lh-sm-6 {
    line-height: 12px; }
  .lh-sm-7 {
    line-height: 14px; }
  .lh-sm-8 {
    line-height: 16px; }
  .lh-sm-9 {
    line-height: 18px; }
  .lh-sm-10 {
    line-height: 20px; }
  .lh-sm-11 {
    line-height: 22px; }
  .lh-sm-12 {
    line-height: 24px; }
  .fz-sm-0 {
    font-size: 0px; }
  .fz-sm-1 {
    font-size: 2px; }
  .fz-sm-2 {
    font-size: 4px; }
  .fz-sm-3 {
    font-size: 6px; }
  .fz-sm-4 {
    font-size: 8px; }
  .fz-sm-5 {
    font-size: 10px; }
  .fz-sm-6 {
    font-size: 12px; }
  .fz-sm-7 {
    font-size: 14px; }
  .fz-sm-8 {
    font-size: 16px; }
  .fz-sm-9 {
    font-size: 18px; }
  .fz-sm-10 {
    font-size: 20px; }
  .fz-sm-11 {
    font-size: 22px; }
  .fz-sm-12 {
    font-size: 24px; } }

@media screen and (max-width: 768px) {
  .wrap {
    min-width: 690px; } }

@media screen and (max-width: 376px) {
  .wrap {
    min-width: 375px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px;
  background-color: #aa0601; }
  .nav-logo__photo {
    width: 80px;
    height: 49px; }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-links__link-content {
      color: #fff;
      font-size: 20px;
      font-family: 'custom-Regular';
      line-height: 30px; }

@media screen and (max-width: 768px) {
  .nav {
    padding: 30px 39px; } }

@media screen and (max-width: 376px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .nav-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .nav-logo__photo {
        width: 48px;
        height: 29px; }
    .nav-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      .nav-links__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 50%;
        border: 1px solid #fff; } }

.footer {
  background-color: #aa0601; }
  .footer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-header-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-header-nav__item-link {
        color: #fff;
        font-size: 16px;
        font-family: 'custom-Regular';
        line-height: 24px; }
    .footer-header-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-header-icons__item-icon {
        width: 48px;
        height: 48px; }
  .footer-content {
    border-bottom: 1px solid #fff; }
    .footer-content-contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-content-contact__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 65px; }
        .footer-content-contact__icon-phone {
          width: 38px;
          height: 38px; }
        .footer-content-contact__icon-mail {
          width: 44px;
          height: 40px; }
      .footer-content-contact__content {
        color: #fff;
        font-size: 36px;
        font-family: 'custom-Regular';
        line-height: 54px; }
  .footer-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-footer-copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-footer-copyright__logo {
        width: 80px;
        height: 49px; }
      .footer-footer-copyright__content {
        color: #fff;
        font-size: 16px;
        font-family: 'custom-Regular';
        line-height: 24px; }
    .footer-footer-terms {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-footer-terms__link {
        color: #fff;
        font-size: 14px;
        font-family: 'custom-Regular';
        line-height: 21px; }

@media screen and (max-width: 768px) {
  .footer-header-icons__item-icon {
    width: 24px;
    height: 24px; }
  .footer-content {
    border-bottom: 1px solid #fff; }
    .footer-content-contact__icon {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 30px; }
      .footer-content-contact__icon-phone {
        width: 18px;
        height: 18px; }
      .footer-content-contact__icon-mail {
        width: 28px;
        height: 24px; }
    .footer-content-contact__content {
      font-size: 20px;
      line-height: 30px; }
  .footer-footer-copyright__logo {
    display: none; } }

@media screen and (max-width: 376px) {
  .footer {
    position: relative; }
    .footer-header {
      position: relative; }
      .footer-header-nav {
        display: none; }
      .footer-header-icons {
        position: absolute;
        top: 0;
        right: 0; }
        .footer-header-icons__item-icon {
          width: 24px;
          height: 24px; }
    .footer-content {
      border-bottom: 1px solid #fff; }
      .footer-content-contact__icon {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: auto; }
        .footer-content-contact__icon-phone {
          width: 14px;
          height: 14px; }
        .footer-content-contact__icon-mail {
          width: 16px;
          height: 12px; }
      .footer-content-contact__content {
        font-size: 20px;
        line-height: 30px; }
    .footer-footer {
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer-footer-copyright__logo {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 46px;
        height: 28px; }
      .footer-footer-copyright__content {
        font-size: 14px;
        line-height: 21px; }
      .footer-footer-terms {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer-footer-terms__link {
          font-size: 14px;
          line-height: 21px; } }

.test {
  font-family: "custom-Medium"; }

.test1 {
  font-family: "custom-Black"; }

.test2 {
  font-family: "custom-BoldItalic"; }

.test3 {
  font-family: "custom-Regular"; }

.test4 {
  font-family: "custom-Bold"; }

/*# sourceMappingURL=all.css.map */
